body {
  background-color: rgb(47, 131, 209);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: auto;
  width: 40%;
  margin-top: 10%;
}

td, th {
  border-bottom: 1px solid rgb(158, 158, 158);
  border-right: 1px solid rgb(158, 158, 158);
  padding: 15px;
  color: rgb(97, 96, 96);
}

th {
  background-color: rgb(25, 25, 39);
  color: rgb(233, 231, 231);
  font-weight: normal;
}

tbody tr:nth-child(odd) {
  background-color: rgb(233, 231, 231);
}

tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

tbody tr:last-child {
  border-bottom: none;
}

tbody td:last-child {
  border-right: none;
}

thead th:last-child {
  border-right: none;
}


