<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
<a href="login">Login</a><br />
<a href="nutritionStore">Nutrition Store</a><br />
<a href="trick">Trick Center</a><br />

<img src="https://raw.githubusercontent.com/green-fox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=AiYLoSfV0lw54mKSOfsLI2nlFfAWaQoNks5bPf45wA%3D%3D" alt="FoxImage" />

<p>Description</p>

<h2>Known tricks</h2>

<ul>
    <li></li>
</ul>

</body>
</html>