<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Nutrition Store</h1>

<h3>Select nutrition for your pet:</h3>

<label>Let's have a </label>
<select>
    <option th:each="food : ${foods}" th:text="${food}"></option>
</select>

<label>  with some </label>
<select>
    <option th:each="drink : ${drinks}" th:text="${drink}"></option>
</select>

<form action="/feed" method="get">
    <input type="hidden" name="drink" th:value="${drinks}"/>
    <input type="hidden" name="eat" th:value="${foods}"/>
</form>

<input type="submit" value="Yumm!"  />

</body>
</html>