<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${fox.getName()} + '\'s profile'"></title>
</head>
<body>

<a href="/center">Trick Center</a><br/>
<a href="/store">Nutrition Store</a><br/>

<img src="/images/greenfox.png" alt="Fox Image"><br/>

<p th:text="'This is ' + ${fox.getName()} + '. Currently living on water and bread. He knows ' + ${fox.getTricks().size() + 1}+ ' tricks.'"></p>

<h2>Known tricks</h2>
<ul>
    <li>code HTML</li>
</ul>

</body>
</html>