<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${fox.getName()} + '\'s profile'"></title>
</head>
<body>

<form th:action="'/profile/' + ${fox.name} + '/nutrition'" method="get">
    <input type="submit" value="Nutrition Store">
</form>

<form th:action="'/profile/' + ${fox.name} + '/trickcenter'" method="get">
    <input type="submit" value="Trick Center">
</form>

<img src="/images/fox_default.png" alt="Fox Image"><br/>

<p th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.getTricks().size()} + ' tricks.'"></p>

<h2>Known tricks</h2>

<ul>
    <li th:if="${fox.getTricks().size() == 0}" th:text="${fox.getName()} + ' knows no tricks yet.'"><input type="submit" th:value="Demonstrate" /></li>
    <li th:unless="${fox.getTricks().size() == 0}" th:each="trick : ${fox.getTricks()}" th:text="${trick}"></li>
</ul>

</body>
</html>