<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trick Center</title>
</head>
<body>

<h1>Trick Center</h1>

<h3>Teach your pet a new trick:</h3>

<form action="/learn" method="get">
    <input type="hidden" name="fox" th:value="${fox.getName()}"/>
    <select th:name="trick">
        <option th:each="trick : ${tricks}" th:text="${trick}" th:value="${trick}"></option>
    </select>
<input type="submit" value="Let's learn it" />
</form>

</body>
</html>