<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Active todos:</h1>

<a href="todolist">Show all todos</a>

<table>
    <tr>
        <th>Id</th>
        <th>Action</th>
        <th>Urgent</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="todo : ${todos}" th:unless="${todo.isDone()}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td>
            <form action="/delete" method="post">
                <input type="hidden" name="id" th:value="${todo.getId()}"/>
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td>
            <form action="/edit" method="get">
                <input type="hidden" name="id" th:value="${todo.getId()}"/>
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>