<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts at Bank of Simba</title>
    <link href="../css/style.css" th:href="@{css/style.css}" type="text/css" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Accounts at Bank of Simba</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>Type</th>
            <th>Status</th>
            <th>Moral</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="'#' + ${account.getId()}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${#numbers.formatDecimal(account.balance, 1, 'COMMA', 2, 'POINT')}"></td>
            <td th:text="${currency}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:if="${account.king} == true">King</td>
            <td th:unless="${account.king} == true">pleb</td>
            <td th:if="${account.good} == true">Good Guy</td>
            <td th:unless="${account.good} == true">Bad Guy</td>
        </tr>
    </tbody>
</table>

<button><a th:href="@{/index.html}">Back to index</a></button>
</body>
</html>