<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Attractions</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Price</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Recommended Age</th>
    </tr>
    <tr th:each="attr : ${attractions}" th:object="${attr}">
        <td th:text="*{attrName}"></td>
        <td th:text="*{city}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{longitude}"></td>
        <td th:text="*{latitude}"></td>
        <td th:text="*{category}"></td>
        <td th:text="*{duration}"></td>
        <td th:text="*{recommendedAge}"></td>
    </tr>
</table>

</body>
</html>