<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit page</title>
</head>
<body>

<h1>Edit todo:</h1>

<form action="/edit" method="post" th:object="${todo}">
    <input type="hidden" th:field="*{id}">
    <label for="todo">Description:</label>
    <input id="todo" type="text" th:field="*{description}"><br>
    <label for="urgent">Urgent</label>
    <input id="urgent" type="checkbox" th:field="*{urgent}">
    <label for="done">Urgent</label>
    <input id="done" type="checkbox" th:field="*{done}">
    <input type="submit" value="Edit">
</form>


</body>
</html>