<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Peer to Peer Chat</title>
</head>
<body>

<h1>Peer to Peer Chat program</h1>

<form action="/update" method="post" th:object="${client}">
    <label for="user">Your username:</label>
    <input id="user" type="text" th:field="*{id}">
    <input type="hidden" th:field="*{hiddenId}">
    <input type="submit" value="update">
</form>

<ul>
    <li th:object="${defaultMessage}" th:text="*{username}"></li>
    <li style="list-style-type: none;" th:object="${defaultMessage}" th:text="*{text}"></li>
</ul>

<form>
    <textarea cols="30" rows="3"></textarea>
    <input type="submit" value="Send" />
</form>



</body>
</html>