<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>

<h1>Reddit</h1>

<h3>Login:</h3>

<form action="/login" method="post">
    <label for="username">USERNAME</label><br/>
    <input id="username" name="username" text="username"/><br/>
    <label for="email">E-MAIL</label><br/>
    <input id="email" name="email" text="email"/><br/>
    <p style="color: red">Invalid e-mail address, please try again</p>
    <input type="submit" value="Login" />
</form>

</body>
</html>