<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trending Posts</title>
</head>
<body>

<h3>Reddit</h3>

<a href="submit">Submit new post</a>

<h1 align="center">Trending Posts</h1>

<table align="center">
    <tr th:each="post: ${posts}">
        <td th:text="${post.getScore()}"></td>
        <td action="#" th:action="'thumbUp/' + ${post.getId()}" method="post">
            <input type="submit" value="+"/>
        </td>
        <td action="#" th:action="'thumbUp/' + ${post.getId()}" method="post">
            <input type="submit" value="-"/>
        </td>
        <td><a th:href="${post.getContent()}" th:text="${post.getTitle()}"></a></td>
        <td th:text="'posted by USER'"></td>
        <td th:text="${post.getCreateAt()}"></td>
    </tr>
</table>

</body>
</html>