<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Submit New Post</title>
</head>
<body>

<h3>Reddit</h3>

<h1 align="center">Submit a new post:</h1>

<form action="/newPost" method="post">
    <label for="title">Title:</label>
    <input id="title" name="title" text="title"/><br/>
    <label for="url">URL:</label>
    <input id="url" name="content" text="content"/><br/>
    <p style="color: red">Invalid url, please try again</p>
    <input type="submit" value="Submit" />
</form>

</body>
</html>